/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* for navbar section */

header,
main {
    background-color: #f7f7f7;
}


.navbar-section {
    max-width: 80%;
    margin: auto;
    padding: 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
}

#menu-bar {
    display: none;
}

.nav-line {
    border-bottom: 2px solid rgba(254, 163, 1, 1);
    width: 100%;
    display: none;
}

.display-flex {
    display: flex;
}

.brand-logo {
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

#header-logo {
    width: 60px;
    height: 60px;
}

.nav-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.nav-items {
    justify-content: center;
    text-align: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
}

.home {
    color: #FEA301;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: #05D4DF;
}

.admission {
    color: #5D58EF;
}

.contact-btn {
    background-color: rgba(254, 163, 1, 1);
    color: white;
    padding: 14px 50px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

/* Banner section */

.scrolling-text {
    width: 80%;
    direction: left;
    height: 30px;
    margin: 0 auto;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    color: #01ACFD;
}

.banner-section {
    max-width: 80%;
    margin: auto;
    background-color: rgba(247, 247, 247, 1);
    justify-content: space-between;
    align-items: normal;
}

.banner-title {
    font-weight: 700;
    font-size: 3.25rem;
    padding-top: 122px;
}

#Empowering {
    color: #FEA301;
}

#towards {
    color: #01ACFD;
}

.banner-description {
    font-weight: 500;
    font-size: 1.25rem;
    padding: 20px 40px 20px 0px;

}


.enroll-btn {
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;
}
.banner-btn {
    padding-top: 20px;
}

main {
    background-image: url('../assets/bg.png');
}

.curriculum-section {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.curriculum-section-title {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 70px 0px 80px;
}

.curriculum-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.curriculum-card {
    max-width: 90%;
    height: 400px;
    padding: 40px 8px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.curriculumn-card-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 0px;
}

.curriculum-card-description {
    color: #808080;
    padding: 8px 20px 30px;
    line-height: 26px;
}

#curriculum-card1 {
    background: linear-gradient(#def5ff, #ffffff, #ffffff);
    border: 1px solid #e2f2f8;
    box-shadow: 1px 1px #e2f2f8;
}

#curriculum-card2 {
    background: linear-gradient(#fbf1e7, #ffffff, #ffffff);
    border: 1px solid #fbf1e7;
    box-shadow: 1px 1px #fbf1e7;
}

#curriculum-card3 {
    background: linear-gradient(#f7e2f7, #ffffff, #ffffff);
    border: 1px solid #f7e2f7;
    box-shadow: 1px 1px #f7e2f7;
}

.read-more1 {
    text-decoration: none;
    color: rgba(100, 200, 255, 1);
    font-weight: 700;
    font-size: 0.98rem;
    padding-top: 20px;
}

.read-more2 {
    text-decoration: none;
    color: rgba(240, 170, 0, 1);
    font-weight: 700;
    font-size: 0.98rem;
}

.read-more3 {
    text-decoration: none;
    color: rgba(135, 0, 255, 1);
    font-weight: 700;
    font-size: 0.98rem;
}

/* Previous Next button */

.button-pn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}

.btn-pn {
    width: 60px;
    height: 60px;
    background-color: rgba(254, 163, 1, 1);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-pn:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}

/* story section */
.story-main-section {
    background: linear-gradient(#f7f7f7, #FEA30130);
}

.story-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 80px 0px 30px;

}

.story-main-title {
    font-weight: 700;
    font-size: 2.75rem;
    text-align: center;
    padding-bottom: 60px;

}

.story-card-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.story-card-big {
    border-radius: 12px;
    background-color: white;
    position: relative;
}

.story-card-big img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.story1-title {
    padding: 50px 38px;
    font-weight: 700;
    font-size: 1.5rem;

}

.story-card-description1 {
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 0 38px 50px;
    line-height: 30px;
}

.story-card-small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.green-btn{
    background-color: #95B226;
}

#hide-card3,
#hide-card4 {
    display: none;
}

.story-card2 {
    border-radius: 12px;
    background-color: white;
    position: relative;
}

.story-card2 img {
    border-radius: 12px 12px 0px 0px;
}
.sky-btn{
    background-color: #3CD8E8;
}
.navy-color{
    background-color: #5D58F0;
}
.story-btn {
       padding: 13px 20px;
    border-radius: 47px;
    margin-top: -20px;
    color: white;
    border: none;
}

.button1 {
    position: absolute;
    left: 50px;
    bottom: 282px;
}

.card-description {
    font-weight: 500;
    font-size: 0.98rem;
    color: rgba(128, 128, 128, 1);
}

.story-card img {
    border-radius: 12px 12px 0px 0px;
}

.story-card-title2 {
    font-size: 0.96rem;
    font-weight: 700;
    padding: 40px 40px 30px;
}

.button2 {
    position: absolute;
    left: 50px;
    bottom: 124px;
}

.btn-view {
    background-color: black;
    color: white;
    padding: 12px 56px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;

}

.view-all {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 80px 0px 30px;
}

